<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myWalletAddressLabel" jhiTranslate="solomonApp.walletAddress.home.createOrEditLabel">Create or edit a Wallet Address</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!walletAddress.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="walletAddress.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="solomonApp.walletAddress.inUse" for="field_inUse">In Use</label>
            <input type="checkbox" class="form-control" name="inUse" id="field_inUse"
                [(ngModel)]="walletAddress.inUse"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="solomonApp.walletAddress.address" for="field_address">Address</label>
            <select class="form-control" id="field_address" name="address" [(ngModel)]="walletAddress.address">
                <option [ngValue]="null"></option>
                <option [ngValue]="addressOption.id === walletAddress.address?.id ? walletAddress.address : addressOption" *ngFor="let addressOption of addresses; trackBy: trackAddressById">{{addressOption.address}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="solomonApp.walletAddress.wallet" for="field_wallet">Wallet</label>
            <select class="form-control" id="field_wallet" name="wallet" [(ngModel)]="walletAddress.wallet"  required>
                <option *ngIf="!editForm.value.wallet" [ngValue]="null" selected></option>
                <option [ngValue]="walletOption.id === walletAddress.wallet?.id ? walletAddress.wallet : walletOption" *ngFor="let walletOption of wallets; trackBy: trackWalletById">{{walletOption.walletId}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.wallet?.dirty && editForm.controls.wallet?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.wallet?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
