$enable-rounded: true;

$primary-color: #5a9cf5;



$background: $primary-color;
$hover-background: #006dff;
$active-background: #0c56ba;
$disabled-background: #cacaca;

$border: $background;
$hover-border: $hover-background;
$active-border: $active-background;
$disabled-border: $disabled-background;

$font-size: 14px;
$line-height: 18px;
$border-radius: 5px;

$padding-x: 15px;
$padding-y: 12px;

$input-border: #d1d7dd;
$input-active-border: $background;

$text-color: #141a22;
$text-error: #f25250;
$label-color: #969696;
$text-note-color: #c1c1c1;