
<div *ngIf="address">
    <h2><span jhiTranslate="solomonApp.address.detail.title">Address</span> {{address.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="solomonApp.address.coin">Coin</span></dt>
        <dd>
            <span jhiTranslate="{{'solomonApp.CoinType.' + address.coin}}">{{address.coin}}</span>
        </dd>
        <dt><span jhiTranslate="solomonApp.address.network">Network</span></dt>
        <dd>
            <span jhiTranslate="{{'solomonApp.Network.' + address.network}}">{{address.network}}</span>
        </dd>
        <dt><span jhiTranslate="solomonApp.address.address">Address</span></dt>
        <dd>
            <span>{{address.address}}</span>
        </dd>
        <dt><span jhiTranslate="solomonApp.address.balance">Balance</span></dt>
        <dd>
            <span>{{address.balance}}</span>
        </dd>
        <dt><span jhiTranslate="solomonApp.address.unconfirmedBalance">Unconfirmed Balance</span></dt>
        <dd>
            <span>{{address.unconfirmedBalance}}</span>
        </dd>
        <dt><span jhiTranslate="solomonApp.address.finalBalance">Final Balance</span></dt>
        <dd>
            <span>{{address.finalBalance}}</span>
        </dd>
        <dt><span jhiTranslate="solomonApp.address.nConfirmedTx">N Confirmed Tx</span></dt>
        <dd>
            <span>{{address.nConfirmedTx}}</span>
        </dd>
        <dt><span jhiTranslate="solomonApp.address.nUnconfirmedTx">N Unconfirmed Tx</span></dt>
        <dd>
            <span>{{address.nUnconfirmedTx}}</span>
        </dd>
        <dt><span jhiTranslate="solomonApp.address.totalReceived">Total Received</span></dt>
        <dd>
            <span>{{address.totalReceived}}</span>
        </dd>
        <dt><span jhiTranslate="solomonApp.address.totalSent">Total Sent</span></dt>
        <dd>
            <span>{{address.totalSent}}</span>
        </dd>
        <dt><span jhiTranslate="solomonApp.address.accountIndex">Account Index</span></dt>
        <dd>
            <span>{{address.accountIndex}}</span>
        </dd>
        <dt><span jhiTranslate="solomonApp.address.chainIndex">Chain Index</span></dt>
        <dd>
            <span>{{address.chainIndex}}</span>
        </dd>
        <dt><span jhiTranslate="solomonApp.address.addressIndex">Address Index</span></dt>
        <dd>
            <span>{{address.addressIndex}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'address-solo/'+ address.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
