<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAddressLabel" jhiTranslate="solomonApp.address.home.createOrEditLabel">Create or edit a Address</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!address.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="address.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="solomonApp.address.coin" for="field_coin">Coin</label>
            <select class="form-control" name="coin" [(ngModel)]="address.coin" id="field_coin"  required>
                <option value="BTC">{{'solomonApp.CoinType.BTC' | translate}}</option>
                <option value="ETH">{{'solomonApp.CoinType.ETH' | translate}}</option>
                <option value="MOZO">{{'solomonApp.CoinType.MOZO' | translate}}</option>
                <option value="SOLO">{{'solomonApp.CoinType.SOLO' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.coin?.dirty && editForm.controls.coin?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.coin?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="solomonApp.address.network" for="field_network">Network</label>
            <select class="form-control" name="network" [(ngModel)]="address.network" id="field_network"  required>
                <option value="BTC_MAIN">{{'solomonApp.Network.BTC_MAIN' | translate}}</option>
                <option value="BTC_TEST">{{'solomonApp.Network.BTC_TEST' | translate}}</option>
                <option value="ETH_MAIN">{{'solomonApp.Network.ETH_MAIN' | translate}}</option>
                <option value="ETH_TEST">{{'solomonApp.Network.ETH_TEST' | translate}}</option>
                <option value="ETH_ROPSTEN">{{'solomonApp.Network.ETH_ROPSTEN' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.network?.dirty && editForm.controls.network?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.network?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="solomonApp.address.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                [(ngModel)]="address.address" required />
            <div [hidden]="!(editForm.controls.address?.dirty && editForm.controls.address?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.address?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="solomonApp.address.balance" for="field_balance">Balance</label>
            <input type="number" class="form-control" name="balance" id="field_balance"
                [(ngModel)]="address.balance"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="solomonApp.address.unconfirmedBalance" for="field_unconfirmedBalance">Unconfirmed Balance</label>
            <input type="number" class="form-control" name="unconfirmedBalance" id="field_unconfirmedBalance"
                [(ngModel)]="address.unconfirmedBalance"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="solomonApp.address.finalBalance" for="field_finalBalance">Final Balance</label>
            <input type="number" class="form-control" name="finalBalance" id="field_finalBalance"
                [(ngModel)]="address.finalBalance"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="solomonApp.address.nConfirmedTx" for="field_nConfirmedTx">N Confirmed Tx</label>
            <input type="number" class="form-control" name="nConfirmedTx" id="field_nConfirmedTx"
                [(ngModel)]="address.nConfirmedTx"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="solomonApp.address.nUnconfirmedTx" for="field_nUnconfirmedTx">N Unconfirmed Tx</label>
            <input type="number" class="form-control" name="nUnconfirmedTx" id="field_nUnconfirmedTx"
                [(ngModel)]="address.nUnconfirmedTx"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="solomonApp.address.totalReceived" for="field_totalReceived">Total Received</label>
            <input type="number" class="form-control" name="totalReceived" id="field_totalReceived"
                [(ngModel)]="address.totalReceived"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="solomonApp.address.totalSent" for="field_totalSent">Total Sent</label>
            <input type="number" class="form-control" name="totalSent" id="field_totalSent"
                [(ngModel)]="address.totalSent"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="solomonApp.address.accountIndex" for="field_accountIndex">Account Index</label>
            <input type="number" class="form-control" name="accountIndex" id="field_accountIndex"
                [(ngModel)]="address.accountIndex" required min="0" />
            <div [hidden]="!(editForm.controls.accountIndex?.dirty && editForm.controls.accountIndex?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.accountIndex?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.accountIndex?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.accountIndex?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="solomonApp.address.chainIndex" for="field_chainIndex">Chain Index</label>
            <input type="number" class="form-control" name="chainIndex" id="field_chainIndex"
                [(ngModel)]="address.chainIndex" required min="0" />
            <div [hidden]="!(editForm.controls.chainIndex?.dirty && editForm.controls.chainIndex?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.chainIndex?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.chainIndex?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.chainIndex?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="solomonApp.address.addressIndex" for="field_addressIndex">Address Index</label>
            <input type="number" class="form-control" name="addressIndex" id="field_addressIndex"
                [(ngModel)]="address.addressIndex" required min="0" />
            <div [hidden]="!(editForm.controls.addressIndex?.dirty && editForm.controls.addressIndex?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.addressIndex?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.addressIndex?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.addressIndex?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
